.EducationContainer {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    gap: 10px;
    margin: 30px 0 30px;
    align-items: center;
}

.sectionOne {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 97%;
    height: 440px;
    margin: 0 1% 0;
    border: 6px solid greenyellow;
    border-radius: 15px;
}

.sectionOne img {
    width: 100px;
    height: 100px;
    margin: 20px 0 0 20px;
    object-fit: scale-down;
    border-radius: 10px;
}

.Images {
    margin-top: 30px;
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: auto auto auto;
    border-right: 3px solid black;
}

.Experience {
    margin-top: 30px;
    width: 100%;
    height: 380px;
    display: grid;
    grid-template-columns: auto;
}

.ExperienceTop span:nth-child(1) {
    position: absolute;
    right: 3%;
    bottom: 1487px;
}

.sectionTwo {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 97%;
    height: 300px;
    margin: 0 1% 0;
    border: 6px solid rgb(255, 47, 47);
    border-radius: 15px;
}

.sectionThree {
    width: 97%;
    height: 200px;
    margin: 0 1% 0;
    border: 6px solid rgb(47, 141, 255);
    border-radius: 15px;
}

.ExperienceTop {
    margin-left: 30px;
    border-bottom: 3px solid black;
    max-height: 235px;
    width: 90%;
}

.ExperienceTop h1 {
    margin: 0 0 10px 0;

}

.ExperienceTop ul {
    padding-left: 40px;
    font-size: 17px;
}

.ExperienceTop ul li{
    padding-left: 10px;
}

.ExperienceBot {
    margin-left: 30px;
}

.ExperienceBot h1 {
    margin: 10px 0 0 0;
}

.ExperienceBot ul {
    margin: 5px 0 0 0;
}

.ExperienceBot ul li{
    padding-left: 10px;
    font-size: 17px;
}

   /* half code partition */

.infoDGETI {
    width: 100%;
    height: 380px;
}

.imageDGETI img {
    width: 250px;
    height: 250px;
    margin: 20px 0 0 20px;
    object-fit: scale-down;
}
